/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato, sans-serif";
    background-color: #fafafa;
    color: #222;
    line-height: 1.6;
}

.hero, 
.skill, 
.projects {
    background-color: #f9f9f9;
}

.about, 
.experience, 
.contact, 
.footer{
    background-color: #e7580b;
}

.divider hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px auto;
    width: 80%;
}

/* Section Specific Styles */
